.heading {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

Label {
    -fx-font-size: 16px;
}

.sign-in-button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #0078D7;
    -fx-padding: 8px 16px;
    -fx-background-radius: 5px;
}

.sign-in-button:hover {
    -fx-background-color: #fff;
    -fx-text-fill: #0078D7;
    -fx-border-color: #0078D7;
    -fx-border-radius: 5px;
}
